In [1]:
import io
from numpy import where, average
from pandas import read_csv
from sklearn import datasets
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestClassifier

data = read_csv("C:\\Users\\Sumu\\Desktop\\BankChurners.csv",index_col = "CLIENTNUM");
data.columns

needed = ["Attrition_Flag", "Customer_Age", "Gender",  "Education_Level", "Marital_Status",
"Income_Category", "Card_Category", "Credit_Limit"]
data = data.loc[:, data.columns.isin(needed)]

In [2]:
data["Education_Level"] = where(data["Education_Level"] == "Unknown", float('nan'), data["Education_Level"])

data["Education_Level"] = where(data["Education_Level"] == "Graduate", 2, data["Education_Level"])
data["Education_Level"] = where(data["Education_Level"] == "Post-Graduate", 2, data["Education_Level"])
data["Education_Level"] = where(data["Education_Level"] == "Doctorate", 2, data["Education_Level"])

data["Education_Level"] = where(data["Education_Level"] == "High School", 1, data["Education_Level"])
data["Education_Level"] = where(data["Education_Level"] =="College", 1, data["Education_Level"])

data["Education_Level"] = where(data["Education_Level"] == "Uneducated", 0, data["Education_Level"])

data["Education_Level"] = data["Education_Level"].astype('float')

data["Education_Level"]

CLIENTNUM
768805383    1.0
818770008    2.0
713982108    2.0
769911858    1.0
709106358    0.0
            ...
772366833    2.0
710638233    NaN
716506083    1.0
717406983    2.0
714337233    2.0
Name: Education_Level, Length: 10127, dtype: float64

In [3]:
data["Attrition_Flag"] = where(data["Attrition_Flag"] == "Existing Customer", 1, 0)
data["Attrition_Flag"] = data["Attrition_Flag"].astype('int')

data["Attrition_Flag"]

CLIENTNUM
768805383    1
818770008    1
713982108    1
769911858    1
709106358    1
            ..
772366833    1
710638233    0
716506083    0
717406983    0
714337233    0
Name: Attrition_Flag, Length: 10127, dtype: int32

In [4]:
data["Gender"] = where(data["Gender"] == "M", 1, 0)
data["Gender"] = data["Gender"].astype('int')

data["Gender"]

CLIENTNUM
768805383    1
818770008    0
713982108    1
769911858    0
709106358    1
            ..
772366833    1
710638233    1
716506083    0
717406983    1
714337233    0
Name: Gender, Length: 10127, dtype: int32

In [5]:
data["Marital_Status"] = where(data["Marital_Status"] == "Married", 0, data["Marital_Status"])

data["Marital_Status"] = where(data["Marital_Status"] == "Single", 1, data["Marital_Status"])
data["Marital_Status"] = where(data["Marital_Status"] == "Divorced", 1, data["Marital_Status"])

data["Marital_Status"] = where(data["Marital_Status"] == "Unknown", float('nan'), data["Marital_Status"])

data = data.dropna()

data["Marital_Status"] = data["Marital_Status"].astype('int')

data["Marital_Status"]

CLIENTNUM
768805383    0
818770008    1
713982108    0
709106358    0
713061558    0
            ..
710841183    1
713899383    1
772366833    1
716506083    0
714337233    0
Name: Marital_Status, Length: 7973, dtype: int32

In [6]:
data["Income_Category"] = where(data["Income_Category"] == "$120K +", 4, data["Education_Level"])
data["Income_Category"] = where(data["Income_Category"] == "$80K - $120K", 3, data["Education_Level"])
data["Income_Category"] = where(data["Income_Category"] == "$60K - $80K", 2, data["Education_Level"])
data["Income_Category"] = where(data["Income_Category"] == "$40K - $60K", 1, data["Education_Level"])
data["Income_Category"] = where(data["Income_Category"] == "Less than $40K", 0, data["Education_Level"])

data["Income_Category"] = where(data["Income_Category"] == "Unknown", float('nan'), data["Education_Level"])

data = data.dropna()

data["Income_Category"] = data["Income_Category"].astype('int')

data["Income_Category"]

CLIENTNUM
768805383    1
818770008    2
713982108    2
709106358    0
713061558    2
            ..
710841183    1
713899383    2
772366833    2
716506083    1
714337233    2
Name: Income_Category, Length: 7973, dtype: int32

In [7]:
data["Card_Category"] = where(data["Card_Category"] == "Platinum", 3, data["Card_Category"])
data["Card_Category"] = where(data["Card_Category"] == "Gold", 2, data["Card_Category"])
data["Card_Category"] = where(data["Card_Category"] == "Silver", 1, data["Card_Category"])
data["Card_Category"] = where(data["Card_Category"] == "Blue", 0, data["Card_Category"])
data["Card_Category"] = data["Card_Category"].astype('int')

data["Card_Category"]

CLIENTNUM
768805383    0
818770008    0
713982108    0
709106358    0
713061558    0
            ..
710841183    0
713899383    0
772366833    0
716506083    0
714337233    1
Name: Card_Category, Length: 7973, dtype: int32

In [8]:
data["Customer_Age"] = (data["Customer_Age"] - data["Customer_Age"].mean())/data["Customer_Age"].std()

data["Customer_Age"]

CLIENTNUM
768805383   -0.168572
818770008    0.324693
713982108    0.571325
709106358   -0.785153
713061558   -0.291888
               ...
710841183    0.941274
713899383    1.187906
772366833    0.448009
716506083   -0.291888
714337233   -0.415204
Name: Customer_Age, Length: 7973, dtype: float64

In [9]:
data["Credit_Limit"] = (data["Credit_Limit"] - data["Credit_Limit"].mean())/data["Credit_Limit"].std()

data["Credit_Limit"]

CLIENTNUM
768805383    0.452978
818770008   -0.036796
713982108   -0.571075
709106358   -0.427732
713061558   -0.505699
               ...
710841183    0.590910
713899383   -0.541258
772366833   -0.506472
716506083   -0.351202
714337233    0.198649
Name: Credit_Limit, Length: 7973, dtype: float64

In [10]:
data = data.dropna()

data

,Attrition_Flag,Customer_Age,Gender,Education_Level,Marital_Status,Income_Category,Card_Category,Credit_Limit
CLIENTNUM,,,,,,,,
768805383,1,-0.168572,1,1.0,0,1,0,0.452978
818770008,1,0.324693,0,2.0,1,2,0,-0.036796
713982108,1,0.571325,1,2.0,0,2,0,-0.571075
709106358,1,-0.785153,1,0.0,0,0,0,-0.427732
713061558,1,-0.291888,1,2.0,0,2,0,-0.505699
...,...,...,...,...,...,...,...,...
710841183,1,0.941274,1,1.0,1,1,0,0.590910
713899383,1,1.187906,0,2.0,1,2,0,-0.541258
772366833,1,0.448009,1,2.0,1,2,0,-0.506472
716506083,0,-0.291888,0,1.0,0,1,0,-0.351202
714337233,0,-0.415204,0,2.0,0,2,1,0.198649

In [11]:
needed = ["Attrition_Flag", "Customer_Age", "Gender", "Education_Level","Income_Category",
          "Card_Category", "Credit_Limit" ]
mar_stat = data.loc[:,data.columns.isin(["Marital_Status"])]
other_regs = data.loc[:,data.columns.isin(needed)]

x_train, x_test, y_train, y_test = train_test_split(other_regs, mar_stat, test_size = 0.33)

svmclassifier = SGDClassifier(loss = "hinge", penalty = "l2")
svmclassifier.fit(x_train,y_train.values.ravel());

In [12]:
svmclassifier.score(x_test,y_test)

0.5026595744680851

In [13]:
precision = average(cross_val_score(svmclassifier,x_test,y_test.values.ravel(),scoring = "precision"))
recall = average(cross_val_score(svmclassifier,x_test,y_test.values.ravel(),scoring = "recall"))
F1 = average(cross_val_score(svmclassifier,x_test,y_test.values.ravel(),scoring = "f1"))

print("precision : ", precision)
print("recall : ", recall)
print("F1 : ", F1)

precision :  0.5429310879726904
recall :  0.2999970069737512
F1 :  0.31430802729421353

In [14]:
param_grid = { 'n_estimators': [100,200,300],'max_features': ['sqrt'],'max_depth' : list(range(1, 10)), 'criterion' :['gini']}

RFC = GridSearchCV(estimator=RandomForestClassifier(), param_grid=param_grid, refit = True) 
RFC.fit(x_train, y_train.values.ravel())
print(RFC.best_params_)

{'criterion': 'gini', 'max_depth': 8, 'max_features': 'sqrt', 'n_estimators': 300}

In [15]:
# {'criterion': 'gini', 'max_depth': 5, 'max_features': 'sqrt', 'n_estimators': 200}
param_grid = { 'n_estimators': [270,280,290,300,310,320,330],'max_features': ['sqrt'],'max_depth' : list(range(1, 10)), 'criterion' :['gini']}

RFC = GridSearchCV(estimator=RandomForestClassifier(), param_grid=param_grid, refit = True) 
RFC.fit(x_train, y_train.values.ravel())
print(RFC.best_params_)

{'criterion': 'gini', 'max_depth': 8, 'max_features': 'sqrt', 'n_estimators': 330}

In [16]:
#{'criterion': 'gini', 'max_depth': 6, 'max_features': 'sqrt', 'n_estimators': 230}
precision = average(cross_val_score(RFC.best_estimator_,x_test,y_test.values.ravel(),scoring = "precision"))
recall = average(cross_val_score(RFC.best_estimator_,x_test,y_test.values.ravel(),scoring = "recall"))
F1 = average(cross_val_score(RFC.best_estimator_,x_test,y_test.values.ravel(),scoring = "f1"))

print("precision : ", precision)
print("recall : ", recall)
print("F1 : ", F1)

precision :  0.5429177277450241
recall :  0.4393104067522672
F1 :  0.4866763295205797

In [17]:
#              Random Forest          SVM 
# precision :  0.5429177277450241     0.5429310879726904
# recall :     0.4393104067522672     0.2999970069737512
# F1 :         0.4866763295205797     0.31430802729421353
# Итого лучшим классификатором оказался Random Forest